html, body {
            height: 100%;
            margin: 0;
        }


.page{
	min-height: 100%;
	margin: auto; 
}
#Announcements {
	min-height:100%;
	margin: auto;
	background: radial-gradient(#494949, #000000);
	color:darkgrey;
}

#splash {
	text-align: center;
	padding: 10%;
	margin: auto;
	text-decoration-color: white;
	font-family: 'Muli';
	font-size: 1.5em; 
	text-shadow: black 1px 4px 15px;
}

#splash h2{
	font-family: 'Muli';
	font-size: 2em;
	text-shadow: black 1px 4px 5px;
}

#splash i{
	padding-left: 12px;
	color: grey;
}

#announcements {
	border: darkgrey solid .25px;
	padding: 10px;
	background: black;
}

[id^='page']{
	padding: 100px 0;
	text-decoration-color: black: 
	background-color: white;
}

