body{
	margin: auto;
	border:solid;
	background-color:#234a56 ;
	font-family: Noto Sans;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-family: Hanken;
	color: white;
	padding-top: 30px;
	width: 50%;
	margin: 0 auto;
	background-color: 
}

#pro_titles{
	font-size: 50%;
}

p{
	text-align: center;
	color: white
}

.contact{
	padding-left: 40px;
	padding-right: 40px
}

.dates {
	align-content: right;
	text-align: right;
	float: right;
	font-size: 90%;
}

#contact_info{
	background: #417d95;
	padding: 1px;
	border-bottom: 2px solid #d6d6d6;
	margin: 0px;
	text-align: center;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	outline: none;
}

#main_content{
	width: 50%;
	margin: 4px auto;
	margin-top: 10px;
	color: black;
	background-color: #dde7dc;
 	padding: 1%;
}